.term {
  font-size: 1.75rem;
  line-height: 2.5rem;
  border: none;
  padding: 0;
  margin-bottom: 4px;
  margin-right: 1px;
  font-weight: normal;

  &:focus {
    outline: none;
  }

  // need to prevent stupid ant design
  // to insert a space between two chinese characters.
  &::first-letter {
    letter-spacing: normal;
  }
}

.termIgnored, .termSkipped {
  background: white;
}

.termUnknown {
  background: #03a9f4;
}

.termLearning1 {
  background: #00bcd4;
}

.termLearning2 {
  background: #4caf50;
}

.termLearning3 {
  background: #8bc34a;
}

.termLearning4 {
  background: #cddc39;
}

.termLearning5 {
  background: #ffeb3b;
}

.termWellKnown {
  background: whitesmoke;
}

.termLearned {
  background: #009700;
}

.termLearning {
  background: #FF0101;
}

.bookmark {
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 0 3px #ff784e;
}

@media (prefers-color-scheme: dark) {
  .bookmark {
    box-shadow: 0 0 0 3px #aa3815;
  }
  
  .termIgnored, .termSkipped {
    background: #424242;
  }

  .termWellKnown {
    background: #464646;
  }

  .termUnknown {
    background: #0276aa;
  }

  .termLearning1 {
    background: #008394;
  }

  .termLearning2 {
    background: #009688;
  }

  .termLearning3 {
    background: #357a38;
  }

  .termLearning4 {
    background: #618833;
  }

  .termLearning5 {
    background: #8f9a27;
  }

  .termLearned {
    background: darken(#009700,10%);
  }

  .termLearning {
    background: darken(#FF0101, 30%);
  }
}
