.term {
  font-size: 25px;
  border: none;
  padding: 0;
  margin-bottom: 4px;
  margin-right: 1px;
  font-weight: normal;
  line-height: 32px;

  &:focus {
    outline: none;
  }

  // need to prevent stupid ant design
  // to insert a space between two chinese characters.
  &::first-letter {
    letter-spacing: normal;
  }
}

.termIgnored, .termSkipped {
  background: white;
}

.termUnknown {
  background: #dd33fa;
}

.termLearning1 {
  background: #637bfe;
}

.termLearning2 {
  background: #5393ff;
}

.termLearning3 {
  background: #33eaff;
}

.termLearning4 {
  background: #4aedc4;
}

.termLearning5 {
  background: #91ff35;
}

.termWellKnown {
  background: whitesmoke;
}

.termLearned {
  background: #009700;
}

.termLearning {
  background: #FF0101;
}

.tooltip {
  white-space: pre-line;

  :global(.ant-popover-title) {
    max-height: 12rem;
    max-width: 20rem;
    overflow: scroll;
  }
}

.bookmark {
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 0 3px deepskyblue;
}

@media (prefers-color-scheme: dark) {
  .termIgnored, .termSkipped {
    background: #424242;
  }

  .termWellKnown {
    background: #464646;
  }

  .termUnknown {
    background: #9500ae;
  }

  .termLearning1 {
    background: #2a3eb1;
  }

  .termLearning2 {
    background: #1c54b2;
  }

  .termLearning3 {
    background: #00a0b2;
  }

  .termLearning4 {
    background: #14a37f;
  }

  .termLearning5 {
    background: #52b202;
  }

  .termLearned {
    background: darken(#009700,10%);
  }

  .termLearning {
    background: darken(#FF0101, 30%);
  }
}
