.term {
  font-size: 25px;
  border: none;
  padding: 0;
  margin-bottom: 4px;
  margin-right: 1px;
  font-weight: normal;
  line-height: 32px;

  &:focus {
    outline: none;
  }

  // need to prevent stupid ant design
  // to insert a space between two chinese characters.
  &::first-letter {
    letter-spacing: normal;
  }
}

.term-ignored {
  background: white;
}

.term-unknown {
  background: #845EC2;
}

.term-learning-1 {
  background: #2C73D2;
}

.term-learning-2 {
  background: #0089BA;
}

.term-learning-3 {
  background: #008F7A;
}

.term-learning-4 {
  background: #00C9A7;
}

.term-learning-5 {
  background: #C4FCEF;
}

.term-well-known {
  background: whitesmoke;
}

.tooltip {
  white-space: pre-line;

  :global(.ant-popover-title) {
    max-height: 12rem;
    max-width: 20rem;
    overflow: scroll;
  }
}

.bookmark {
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 0 3px deepskyblue;
}
