.form {
  :global(div.ant-row.ant-form-item) {
    margin-right: 0;
  }
  text-align: center;
  > div {
    margin: 0;
    > div {
      padding-bottom: 1px;
    }
  }
  border: 1px solid burlywood;
}

.content {
  display: none !important;
}

.title {
  text-align: center;
  font-size: 25px;
}

.language {
  display: none !important;
}

.meaning {
  width: 100%;
  textarea {
    resize: none;
  }
}

.learningLevel {
}

.saveButton {
  width: 100%;
  height: 2.5rem;
  button,
  div,
  span {
    width: 100%;
  }
}
