.form {
  > div {
    margin:0;
    > div {
      padding-bottom: 1px;
    }
  }
}

.content {
  display: none !important;
}

.language {
  display: none !important;
}

.meaning  {
}

.saveButton {
  width: 150px;
}