
.bar {
  height: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  -moz-box-shadow: 0 0 5px 3px #ccc;
  -webkit-box-shadow: 0 0 5px 3px #ccc;
  box-shadow: 0 0 5px 3px #ccc;
  display: flex;
  flex-direction: row;
}

.section {
  display: inline-block
}
