.header {
  background: black;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

.menu {
  > * {
    margin-right: 10px;
  }

  color: white;
  text-decoration: none;
}

.leftMenu {
  @extend .menu;
  float: left;
}

.rightMenu {
  @extend .menu;
  float: right;
}

.logoutButton {
  border: none;
}

.navigationLink {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
