.header {
  background: lightgray;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  height: 2rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}

.menu {
  > * {
    margin-right: 10px;
  }

  text-decoration: none;
}

.leftMenu {
  @extend .menu;
  float: left;
}

.rightMenu {
  @extend .menu;
  float: right;
}

.logoutButton {
  border: none;
}

.navigationLink {
  text-transform: uppercase;
  text-decoration: none;
}
