.layout {
  height: 100%;
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
}


:global(body) {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}


:global(html) {
  height: unset;
  width: unset;
}


:global(#root) {
  height: 100%;
}
