.readPane {
  height: 90vh;
  display: flex;
  flex: auto;
  flex-direction: column;
}

.titleSection {
  max-height: 2.8em;
  height: 100%;
  overflow-y: auto;
}

.contentPanel {
  font-size: 25px;
  overflow-y: auto;
  white-space: pre-line;
}