.term {
  margin-right: 2px;
}
.term-0 {
  background: whitesmoke;
}

.term-1 {
  background: #addfff;
}

.term-2 {
  background: #f5b8a9;
}

.term-3 {
  background: #f5cca9;
}

.term-4 {
  background: #f5e1a9;
}

.term-5 {
  background: #f5f3a9;
}

.term-6 {
  background: #ddffdd;
}

.term-7 {
  background: white;
}

.readPane {
  height: 80vh;
  width: 100%;
  position: relative;
}

