.readPane {
  height: 85vh;
  width: 100%;
  position: relative;
}

.textReadContainer {
  overflow: hidden;
  white-space: pre-line;
  overflow-y: auto;
  height: 100%;
  max-height: 85vh;
  @media only screen and (max-width: 768px) {
    max-height: 50vh;
  }
}

.termEditSection {
  overflow: scroll;
  max-height: 90vh;
   @media only screen and (max-width: 768px) {
    max-height: 30vh;
  }
}

.titleSection {
  max-height: 5vh;
  display: inline-block;
  @media only screen and (max-width: 768px) {
    max-height: 10vh;
  }
}