.learning {
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.table {
  thead > tr > th {
    text-align: center;
  }
}

.row {
  text-align: center;
}

.editButton {
  color: yellowgreen;
  font-size: 25px;
  display: block;
  cursor: pointer;
}

.deleteButton {
  color: red;
  font-size: 25px;
  display: block;
  cursor: pointer;
  margin-bottom:6px;
}

.actionButton {
  display: block;
  font-size: 25px;
}

.termCount {
  //padding-left: 2px;
  //padding-right: 2px
}